
    main{
        display: flex;
        justify-content: center;
        
    }

    .container{
        background-color: #EFAF64;
        width: 100%;
        min-width: 1440px;
        height: 875px;
        display: flex;
        flex-wrap: wrap;
    }

        .header{
            width: 670px;
            padding-left: 64px;
            padding-top: 136px;
        }
        
        
            .container-logo{
                position: absolute;
                width: 505px;
                display: flex;
                flex-direction: row-reverse;
            }
        
                .container-logo__logo {
                    background-image: url("../images/logo.png");
                    width: 165px;
                    height: 165px;
                }



            .сontainer-header{
                width: 663px;
            }
                
        
                .сontainer-header__title {
                    font-size: 112px;
                    color: white;
                    line-height: 108px;
                    font-family: 'Tinos';
                    margin-top: 73px;
                    margin-bottom: 40px;
                }
            .container-subtitle{
                width: 567px;
            }    
    
                .container-subtitle__subtitle {
                    font-size: 24px;
                    color: white;
                    font-family: 'Roboto';
                    margin-bottom: 40px;
                }

            .container-button {
                background-color: #FE6E06;
                width: 184px;
                padding: 24px 40px;
                border-radius: 40px;
                display: flex;
                justify-content: center;     
            }

            .container-button__button{
                color: white;
                font-family: 'Roboto';
                font-weight: 500;
            }

        .container-robot {
            
            width: 770px;
            display: flex;
            flex-direction: row-reverse;
            padding-right: 64px;
            }

            .container-robot__shape{
                position: absolute;
                width: 581px;
                height: 794px;
            }
            
            
            .robot{
                position: absolute;
                width: 651px;
                height: 825px;
                padding-top: 130px;  
            }
                
            .card{
                width: 776px;
                display: flex;
                gap: 16px;
                padding-left: 64px;
                padding-top: 120px;
            }
            
                        .container-card{
                            background-image: url("../images/Frame.png");
                            width: 216px;
                            height: 184px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            gap: 8px;
                            padding-left: 30px;
                        }
    
                        .container-card__icon-heart::before{
                            content: ' ';
                            background-image: url("../images/svg/heart.svg");
                            width: 32px;
                            height: 32px;
                            display: block;
                            background-repeat: no-repeat;
    
                        }
    
                        .container-card__icon-star::before{
                            content: ' ';
                            background-image: url("../images/svg/star.svg");
                            width: 32px;
                            height: 32px;
                            display: block;
                            background-repeat: no-repeat;
    
                        }
    
                        .container-card__icon-eye::before{
                            content: ' ';
                            background-image: url("../images/svg/eye.svg");
                            width: 32px;
                            height: 32px;
                            display: block;
                            background-repeat: no-repeat;
    
                        }

                        .container-card__title{
                            font-size: 20px;
                            width: 40px;
                            font-family: 'Roboto';
                            font-weight: 500;
                        }
    
                        .container-card__subtitle{
                            font-size: 16px;
                            width: 156px;
                            font-family: 'Roboto';
                        
                        }